.products{
    display: grid;

}

.products h2{
    text-align: center;}


#side-filter{
    width: 15rem;
    border: 1px solid var(--black);
    padding: 1rem 1.15rem;
    color: var(--black);
    font-size: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

#side-filter #filter-content {
    visibility: hidden;
    position: fixed;
    left: -250px;
    width: 15rem;
    height: 100%;
    color: var(--black);
    transition: 0.3s;
    padding: 0px 10px;
    padding-top: 1rem;
    box-sizing: border-box;
    border: 1px solid var(--black);
    border-top: 0px;
}

#side-filter:focus #filter-content,
#side-filter:focus-within #filter-content  {
    visibility: visible;
    left: 0;
}

.default-slider {
    cursor: pointer;
    accent-color: var(--secondary-color);
    font-size: 5rem;

}

.product-info{

    display: flex;
    flex-direction: column;
 justify-content: center;
 align-items: center;
   padding-bottom: 0.3rem;
   gap: 0.2rem;
   height: 10rem;
}

.product-info button:hover{
 color: var(--hover-color);
 background-color: var(--off-white);
}

.price{
    text-align: center;
    font-size: 3ch;
    font-weight: 600;
    color: var(--black);
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
   
   
}

.price-tag{
    font-size: 2.5ch;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 0.4rem;
    margin-bottom: 0;
    
  
}

.background{
    background-color: var(--secondary-color);
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    width: 80%;
    
}
.card-badge-product-pg{
    background-color: var(--ternary-color);
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 2.5%;
    left: 90%;
    text-align: center;
    border-radius: 50%;
    
}


.color-pink i{
    color: var(--pink);
}

.bestsellers-2{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 30px;
    margin-top: 4rem;
    }


   .filter-components{
       margin: 0;
       padding: 0;
   }

   .filter-components nav{
       
       margin: 1rem;
     
       border-top: 1px solid black;
       border-radius: 0.5rem;
      
   }

   .filter-components nav ul{
       display: flex;
       justify-content: flex-end;
       padding: 0;
       margin: 0;
       gap: 2rem;
      

   }

   .filter-components nav ul li{
       width: 40%;
      
      
   }

  

   nav ul li ul{
       display: flex;
       flex-direction: column;
       margin: 0;
       padding: 0;
       border: 0;
       
      
   }

   .filter-components nav ul li:hover{
color: var(--ternary-color);
   }


nav ul li ul li {
       display: none;
      
   } 

   nav ul li:hover ul li{
       display: block;
       
   }

   