img{

    width: 36rem;
    height: 16em;
    border-radius: 0.4rem;
    padding: 0.4rem;

     
 
}

.overlay-logut-text{
    position: absolute;
    bottom: 8em;
    height: 8rem;
    padding: 0.4rem;
    margin: 30px;
   border-radius: 0.4rem;
    background-color:	rgb(248,248,255, 0.5);
 
}

.overlay-logut-text p{
    margin: 5%;
    font-weight: bold;
    color: var(--secondary-color);
    font-family: monospace, cursive;
    font-style: italic;
    font-size: 1.4rem;
}

.home-btn{
    color: var(--secondary-color);
    background-color: var(--off-white);
    padding: 0.8rem;
    font-size: 1.2rem;
    border: 2px solid var(--ternary-color);
}


.home-btn:hover{
    color: var(--off-white);
    background-color: var(--ternary-color);
}